.notification-container {
    z-index: 10000;
    margin-top: 12px;
}
.notification {
    display: flex;
    align-items: center;
    min-width: 400px;
    max-width: 450px;
    border-radius: 8px;
    padding: 20px 4px;
    transition: all linear 0.3s;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 15%);
    animation: 0.3s ease 0s 1 normal none running slideInLeft;
}

.autoClose {
    animation: 0.3s ease 0s 1 normal none running slideInLeft, 1s linear 4s 1 normal forwards running fadeOut;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.icon-block {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.icon {
    font-size: 1.4rem;
}
.text-block {
    padding: 0 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.title {
    text-align: start;
    font-weight: bold;
    font-size: 1.2rem;
}
.text {
    text-align: start;
    font-size: 0.9rem;
}

.btn-block {
    position: relative;
}
.close-btn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: #2c3e50;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.09);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -7px;
    margin-bottom: -7px;
}

.success {
    color: #0ae70a;
}
.danger {
    color: #ea0a0a;
}
.info {
    color: var(--green);
}
.warning {
    color: orange;
}

@media (max-width: 1024px) {
    .notification {
        min-width: 350px;
    }
}
