.wrapper {
    margin-top: 16px;
}

.imgBlock > .img > img {
    width: 400px;
    height: 400px;
}

.inputBLock,
.tableBlock,
.btnBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
}

.line {
    margin: 8px 0;
    width: calc(100%);
    height: 1px;
    background-color: var(--green);
}

.title {
    font-size: 1.3rem;
}

.price {
    font-size: 1.1rem;
    color: red;
}

.descriptionImage {
    background-color: var(--green);
    margin-top: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionImage > img {
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 0;

        display: flex;
        justify-content: center;
    }
    .imgBlock {
        width: 370px;
        height: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
