.wrapper {
    width: 100%;
    display: flex;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBlock {
}
.navbar {
    width: 270px;
    position: fixed;
    top: 16%;
}

.navbar > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar > ul > li {
    list-style: none;
    width: 100%;
    margin: 4px;
    border: 1px solid;
    text-align: left;
    cursor: pointer;
}

.navbar > ul > li:hover {
    background-color: var(--color-accent);
}

.navbar > ul > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--color-body-text);
    font-size: 1.1rem;
}
.content {
}

.deleteIcon {
    font-size: 28px;
    cursor: pointer;
}

.deleteIcon:hover {
    color: red;
}

.tongle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    display: none !important;
}

@media (max-width: 1024px) {
    .orderBlock,
    .title {
        margin-top: 100px;
    }
    .tongle {
        display: none;
    }
}
