.wrapper {
    height: 900px;
}

.adressBlock {
    display: flex;
    flex-direction: column;
}

.deleteIcon {
    font-size: 28px;
}

.deleteIcon:hover {
    color: red;
}

.text > p {
    font-size: 1rem;
    font-weight: 300;
}
